body {
    background-image: url('https://miro.medium.com/v2/resize:fit:1280/format:webp/0*Rr3PMu9qx1q4T0-J.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
